<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="LiteDB" version="5.0.15" targetFramework="net45" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net40" />
  <package id="MoonSharp.Debugger" version="2.0.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.13.3" targetFramework="net45" />
  <package id="NUnit.Console" version="3.16.2" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.16.2" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.7.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.9.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>